# Configurações do Banco (Postgres)
POSTGRES_USER=mytaskshub-admin
POSTGRES_PASSWORD=senha123
POSTGRES_DB=mytaskshub

# Configurações do Backend
DATABASE_URL="postgresql://mytaskshub-admin:senha123@localhost:5432/mytaskshub"
PORT=3000
JWT_SECRET=sua-chave-secreta-de-256-caracteres
FRONTEND_URL="http://localhost:5173"