@import "tailwindcss";

:root {
  --main-color: rgb(235, 223, 196);
  --hover-color: #d6d5a9;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  display: flex;
  justify-content: center;
}

input:focus {
  border-color: black;
}

button {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
}
